<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.sys.dao.SysRoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.kunlong.sys.domain.SysRoleResource" >
    <id column="id" property="id" jdbcType="INTEGER" />	
  	<result column="role_id" property="roleId" jdbcType="INTEGER" />
  	<result column="resource_id" property="resourceId" jdbcType="INTEGER" />
  	<result column="create_by" property="createBy" jdbcType="INTEGER" />
  	<result column="create_on" property="createOn" jdbcType="TIMESTAMP" />
  	<result column="op_by" property="opBy" jdbcType="INTEGER" />
  	<result column="op_on" property="opOn" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <sql id="Base_Column_List" >
  	id,role_id,resource_id,create_by,create_on,op_by,op_on
 </sql>
  
</mapper>