<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlong.sys.dao.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.kunlong.sys.domain.SysUserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />	
  	<result column="role_id" property="roleId" jdbcType="INTEGER" />
  	<result column="user_id" property="userId" jdbcType="INTEGER" />
  	<result column="op_by" property="opBy" jdbcType="INTEGER" />
  	<result column="op_on" property="opOn" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <resultMap id="BaseResultMap_SysUserRole" type="com.kunlong.sys.domain.SysUserRole" >
    <id column="tsur_id" property="id" jdbcType="INTEGER" />	
  	<result column="tsur_role_id" property="roleId" jdbcType="INTEGER" />
  	<result column="tsur_user_id" property="userId" jdbcType="INTEGER" />
  	<result column="tsur_op_by" property="opBy" jdbcType="INTEGER" />
  	<result column="tsur_op_on" property="opOn" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
  	id,role_id,user_id,op_by,op_on
  </sql>
  <sql id="Base_Column_List_SysUserRole" >
  	tsur.id tsur_id,tsur.role_id tsur_role_id,tsur.user_id tsur_user_id,tsur.op_by tsur_op_by,tsur.op_on tsur_op_on
  </sql>
  <!-- 通过实体参数查询 -->
  <sql id="Condition_findByQueryParam">
  	<if test="queryParam.param!=null">
  		<bind name="p" value="queryParam.param"/>
		<if test="p.roleId!=null">
	    	and tsur.role_id=#{p.roleId}
	    </if>
		<if test="p.userId!=null and p.userId!=''">
	    	and tsur.user_id=#{p.userId}
	    </if>
  		
  	</if>
  	<if test="queryParam.roleType!=null">
  		and exists (
  			select 1 from t_sys_role tsr where tsur.role_id = tsr.id and tsr.type = #{queryParam.roleType}
  		)
  	</if>
  </sql>
  <select id="findByQueryParam" resultMap="BaseResultMap_SysUserRole">
  	select <include refid="Base_Column_List_SysUserRole"></include>
  	from t_sys_user_role tsur 
	where 1=1
  	<include refid="Condition_findByQueryParam"></include>
  	
  </select>
  
</mapper>